<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <h3>Navigasi</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/staff">Data Staff</a></li>
            <li><a href="/periode">Data Periode</a></li>
        </ul>
    </nav>

    <%- body %>
</body>
</html>

