<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %> | TUKIN SMATAJAYA</title>
    <link rel="apple-touch-icon" sizes="76x76" href="/public/img/logo-smata.png"/>
    <link rel="icon" type="image/png" href="/public/img/logo-smata.png"/>
    <meta name="description" content="TUKIN SMATAJAYA">
    <link rel="stylesheet" href="/public/sass/output.css">
    <script src="/public/js/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="/public/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  </head>
  <body>
    <%- include('../components/navbar.ejs') %> 
    <div class="container-fluid p-4">
        <link rel="stylesheet" href="/public/css/datatables.min.css">
        <link rel="stylesheet" href="/public/css/dataTables.bootstrap.css">
        <script src="/public/js/datatables.min.js"></script>
        <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap5.js"></script>
        <%- body %>
    </div>
  </body>
</html>