<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/public/bootstrap-5.3.3-dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/public/css/datatables.min.css" />
    <link
      rel="stylesheet"
      href="/public/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/public/css/dataTables.bootstrap.css" />
    <script src="/public/js/jquery-3.7.1.min.js"></script>
    <style>
      div.dt-container .dt-paging .dt-paging-button {
        padding: 0 !important;
        margin: 0 !important;
      }
      *,
      ::after,
      ::before {
        box-sizing: unset;
      }
    </style>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../components/navbar.ejs') %>

    <div class="container p-3"><%- body %></div>
    <%- include('../components/footer.ejs') %>
  </body>

  <script src="/public/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
  <script src="/public/js/datatables.min.js"></script>
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
</html>
