<footer class="container-fluid px-md-4 px-0 d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-black text-decoration-none lh-1" aria-label="Bootstrap">
            <i class="bi bi-bootstrap" style="font-size: 1rem;"></i>
        </a>
        <span class="mb-3 mb-md-0 text-black">© 2025 smatajaya, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-black" href="#" aria-label="Instagram">
                <i class="bi bi-instagram" style="font-size: 1rem;"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-black" href="#" aria-label="Facebook">
                <i class="bi bi-facebook" style="font-size: 1rem;"></i>   
            </a>
        </li>
    </ul>
</footer>