<%- include('./components/button-go-back.ejs') %>
<h1>Records</h1>

<div class="filter-container">
  <label for="start-date">Tanggal Awal:</label>
  <input type="date" id="start-date" class="date">
  
  <label for="end-date">Tanggal Akhir:</label>
  <input type="date" id="end-date" class="date">

  <button class="btn btn-primary" onclick="filterData()">Filter</button>
</div>

<br>

  <table class="table table-bordered text-center" style="margin: 0 !important; padding: 0 !important;">
    <thead>
      <tr>
        <th>Staff Id</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
  <% for (const staffId in dataParseJson) { %>
        <tr>
            <td><p><%= staffId %></p></td>
            <td style="margin: 0 !important; padding: 0 !important;">
                <table class="table table-bordered text-center">
                    <thead>
                      <tr>
                        <% for( let indexOfHead = 1; indexOfHead < 31; indexOfHead++ ) { %>
                            <th><%= indexOfHead %></th>
                        <% } %>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <% const records = dataParseJson[staffId]; %>
                      <% for (const record of records) { %>
                      
                        <td><%= record.nilai %></td>
                      
                      <% } %>
                      </tr>
                    </tbody>
                  </div>
                </table>
            </td>
        </tr> 
    
    <% } %>
    </tbody>
  </table>
