<div class="container">
  <h1>Welcome to Our Website</h1>
  <p>
    This is a platform for managing staff and their tasks. You can add, edit,
    and delete staff information as well as assign tasks to them.
  </p>
  <nav>
    <ul>
      <li><a href="/staff">Staff</a></li>
      <li><a href="/addStaff">Add Staff</a></li>
      <li><a href="/tugas">Tasks</a></li>
    </ul>
  </nav>
</div>
