<div class="main-content position-relative border-radius-lg p-4">
    <div class="container-fluid card p-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolorum, ipsam
        sint reprehenderit alias porro id, perspiciatis, rerum delectus soluta laborum
        iusto ratione! Reiciendis, vel neque ipsa error iure porro!

    </div>
</div>